@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Oldenburg&display=swap');
/* Header Section */
.navigation {
    padding-top: 2%;
    padding-bottom: 2%;
}

.brand {
    font-family: Montserrat;
    font-weight: 600;
    margin-left: 1.5rem;
    margin-bottom: 10px;
    margin-right: 70%;
}

@media (max-width: 1226px) {
    .brand {
        font-family: Montserrat;
        font-weight: 600;
        margin-left: 1.5rem;
        margin-bottom: 10px;
        margin-right: 63%;
    }
}

.nav-tog {
    margin-left: 1.5rem;
    margin-bottom: 5px;
}

.list {
    margin-left: 1.5rem;
    margin-right: 5px;
    margin-bottom: 10px;
}

.list .btn {
    font-weight: 500;
    font-family: Montserrat;
    width: 95px;
}

/* Content */
#content {
    width: 100%;
    padding: 7% 15%;
    background-image: url('/images/homepage_bkg.png');
    /* 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    */
    text-align: center;
}

#content h1{
    margin-top: 20%;
    padding: 7% 8%;
    font-weight: 600;
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1;
}
#content h2 {
    /* color: #A6002F; */
    font-weight: 600;
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1;
}

#content img{
    margin-top: 20%;
    margin-bottom: 25%;
    width: 100%;
    position: absoliute;
}
#content btn{
    margin-left: 15%;
}
