@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Oldenburg&display=swap');
/* Header Section */
.navigation {
    padding-top: 2%;
    padding-bottom: 2%;
}

.brand {
    font-family: Montserrat;
    font-weight: 600;
    margin-left: 1.5rem;
    margin-bottom: 10px;
    margin-right: 70%;
}

@media (max-width: 1226px) {
    .brand {
        font-family: Montserrat;
        font-weight: 600;
        margin-left: 1.5rem;
        margin-bottom: 10px;
        margin-right: 63%;
    }
}

.nav-tog {
    margin-left: 1.5rem;
    margin-bottom: 5px;
}

.list {
    margin-left: 1.5rem;
    margin-right: 5px;
    margin-bottom: 10px;
}

.list .btn {
    font-weight: 500;
    font-family: Montserrat;
    width: 95px;
}

/* Form */
#form {
    width: 100%;
    padding: 7% 15%;
    background-image: url('../Image/homepage_bkg.png');
}

.profile-image-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.cardbody-color {
    background-color: #EBF2FA;
}

a {
    text-decoration: none;
}

.card h2 {
    margin-top: 8px;
    margin-bottom: 12px;
}
